.classpath
.project
.idea/
*.iml
.settings/
WEB-INF/classes/
WEB-INF/lib/
target/
test-output/
log/
logs/
/bin
/test-output
/build
.DS_Store
.mymetadata
.externalToolBuilders
.reviewboardrc
.springBeans
disconf/